/* style.css */

/* මුළු පිටුවේම පසුබිම සහ අකුරු සඳහා */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header එක සඳහා */
.navbar {
    margin-bottom: 20px;
}


.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.card:hover {
    transform: scale(1.03);
    transition: 0.3s;
    cursor: pointer;
}


footer {
    margin-top: 30px;
}